<div>
    <div id="container">
      <h1>
          <span>F</span>
          <span>u</span>
          <span>n</span>
          <span>D</span>
          <span>o</span>
          <span>N</span>
          <span>o</span>
          <span>t</span>
          <span>e</span>
          <span>s</span>
      </h1>
      <h2>Reset Password</h2>
      <h3>Use your GoogleNotes Account</h3>
      <form [formGroup]="forgetPage" ngSubmit="onSubmit()">
          <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="Password">
                <mat-error>Password is requird</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
               
              </mat-form-field>
            </p>
            <div id="Links">
              <!-- <a routerLink="">Registration</a> -->
              <button mat-raised-button color="primary">Save</button>
            </div>
      </form>
      
    </div>
   
  </div>
  
  <div class = "Footer">
    <a routerLink="">Help</a>
    <a routerLink="">Privacy</a>
    <a routerLink="">Terms</a>
    
  </div>
  
  <div class = "FooterLang">
    <a routerLink="">English(uk)</a>
  
  </div>
